{% extends "base.html" %}

{% block main %}
<div class="property2-card">
    <div class="property2-image-container-new">
        <img src="{{ url_for('get_image', filename=property.filename) }}" alt="Property Image" class="property2-image-new">
    </div>
    <div class="property2-details-new">
        <h1>{{ property.title }}</h1>
        <p>{{ property.description }}</p>
        <div class="price2-type-container-new">
            <div class="price2-new">{{ property.price }}</div>
            <div class="property2-type-new">{{ property.property_type }}</div>
        </div>
        <div class="bed2-bath-container-new">
            <img src="{{ url_for('static', filename='bedroom_icon.png') }}" alt="Bedrooms Icon" class="icon2-new">
            <span>{{ property.bedrooms }}</span>
            <img src="{{ url_for('static', filename='bathroom_icon.png') }}" alt="Bathrooms Icon" class="icon2-new">
            <span>{{ property.bathrooms }}</span>
        </div>
        <div class="location2-container-new">
            <img src="{{ url_for('static', filename='location_pin.png') }}" alt="Location Pin" class="location2-pin-new">
            <span>{{ property.location }}</span>
        </div>
        <button class="email2-realtor-btn-new">Email Realtor</button>
    </div>
</div>
{% endblock %}
