{% extends "base.html" %}

{% block main %}
<h1>Properties</h1>
{% for property in properties %}
    <div>
        <img src="{{ url_for('get_image', filename=property.filename) }}" alt="Property Image" style="width: 200px;">
        <h2>{{ property.title }}</h2>
        <p><strong>Location:</strong> {{ property.location }}</p>
        <p><strong>Price:</strong> {{ property.price }}</p>
        <a href="{{ url_for('property', propertyid=property.id) }}">View Property</a>
    </div>
{% endfor %}
{% endblock %}